 *{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
header > div{
    display: flex;
}
.logo{
    cursor: pointer;
}
i{
    cursor: pointer;
}
.icons{
    cursor: pointer;
}
.nav_bar li{
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
    
}
input{
    border-radius: 20px;
    background: #eaeaea;
    border: none;
    padding: 11px 35px;  
    
}
.icons{
    font-size: 25px;
    display: flex;
    padding: 0 12px;
    text-decoration: none;
}
a{
    color: black;
}
a{
    position: relative;
    text-decoration: none;
    font-size: 20px;

    
}
a:after{
    content: "";
    position: absolute;
    background-color: black;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
a:hover:after{
    width: 100%;
}

/* body */

.strip{
    display: flex;
    height: 80px;
    width: 90%;
    margin: 10px 0px;
    margin: auto;
    background-color: #e8edf0;
}
.strip > div{
    display: flex;
    width: 90%;
    padding: 10px 20px;
    align-items: center;
}
.strip>h2{
    padding-top: 20px;
}
.strip > div>h3{
    padding: 0px 10px;
    font-size: 14px;
}
.strip>div img{
    width: 70px;
}

.container> #mid_pic{
    display: flex;
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 10px;
    
}

/* category */
.category{
    width: 90%;
    margin: auto;
    margin-top: 50px;
}
.category > div{
   display: grid; 
   grid-template-columns: repeat(8, 1fr);
   gap: 10px;
   width: 90%;
}
.category > div >div{
    width: 120px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px;
}

/* daily deals */
#daily-deals{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
    width: 90%;
    margin: auto;
    
}
#daily-deals > div >div{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
#daily_deals_h1{
    padding-left: 5%;
    
}
.daily_deals_pro_name{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    border-radius: 10px;
    margin: 30px 0px;   
}
.daily_deals_pro_img{
    width: 100%;
    height: 300px;    
}
.strikeoffprice{
    text-decoration: line-through;
  }
.add_to_cart_button{
    background-color: red;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px;
}
/* display pic(middle) */
    .display_pic{
        display: grid;  
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        width: 90%;
        margin: auto;    
    }    
    .display_pic >div >img{
        width: 100%;
        height: 100%;
    }
/* best of boat */
#best_of_boat_h1{
    padding: 50px 5%;
    
}
.best_of_boat_buttons{
    display: flex; 
    margin-left: 2%;
    margin-right: 2%;  
}
.best_of_boat_buttons>button{
    padding: 10px 50px;
    margin: auto;
    
    text-align: center;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
}
/* best_of_boat_card */
.best_of_boat{
    margin: 30px 0;
}
.best_of_boat>div{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 90%;
    margin: auto;
}
.best_of_boat_card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
} 
.best_of_boat_card > img{
    width: 100%;
    height: 60%;
}
.best_of_boat_card > div{
    display: flex;
    justify-content: space-between;
    /* padding: 10px; */
}
.upi_p{
    font-size: 12px;
    padding: 5px 0;
}

.best_of_boat_card>button{
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: red;
    color: white;
    font-weight: bold;
}
.strieoff_p{
    text-decoration: line-through;
}
/* mid pic */
#mid_pic{
    display: flex;
    width: 90%;
    height: auto;
    margin-left: 5%;
}
.pic{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
.pic > img{
    width: 100%;
}
#pic1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    border: 1px solid black;
    width: 90%;
    background-color: black;
    margin-left: 5%;
    border-radius: 10px;
    padding: 30px 0;
    
}
#pic1>img{
    width: 90%;
    border-radius: 10px;
    padding-left: 5%;
}
.in_the_press > h1{
    font-size: 3em;
    font-weight: bold;
    padding: 50px 5%;
}
.in_the_press > p{
    font-size: 2em;
    text-align: center;
}
.in_the_press > div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    margin: 20px;
    
}
.in_the_press > div >img{
    width: 150px;
    height: auto;
    margin: auto;
}
#border-box{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 16px;
    margin: 50px 0;
 }
 #border-box> p{
    width: 70%;
    text-align: center;
    margin: auto;
    padding: 30px 0px;
 }

/* footer */
 #footer1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    margin-top: 40px;
}
#footer1 p{
  font-size: 13px;
  color: rgb(158, 157, 157);
}

.vLine{
  border: 1px solid rgb(230, 230, 230);;
  width: 0px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.oddL{
  margin-top: 50px;
  margin-bottom: 120px;
  margin-right: -40px;
}
.oddL2{
  margin-top: 50px;
  margin-bottom: 180px;
  margin-right: -40px; 
}
.blackBack{
  margin-top: 40px;
  background-color: black;
  
}
.blackBack p{
  color: white;
  width: 60%;
  margin: auto;
  text-align: center;
  padding: 21px 0;
  font-size: 14px;
}
.socialMedia{
  display: flex;
  gap: 30px;
  font-size: 25px;
}
.playStore{
  display: flex;
}
.extra{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.extra h3{
  margin-bottom: 10px;
}
.line+p{
  margin-top: 30px;
  margin-bottom: 30px;
}
.emailSubmit{
  border: 1px solid red;
  margin-top: 10px;
  padding: 6px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
}
.emailSubmit>button{
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 17px;
  padding: 10px 25px;
  background-color: rgb(220, 24, 37);
}
.emailSubmit>input{
  border: none;
  box-sizing: border-box;
  width: 100%;
}






