body {
    margin: auto;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans serif;
}

.heading1 {
    font-size: 30px;
    background: #F7F5F5;
    padding: 10px;
    border-radius: 5px;
    /* margin-top: 0.5rem; */
    margin: 20px 63px 40px 63px;
    font-weight: 700;
    font-stretch: condensed;
}

#filSort {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background: white;
    margin: 20px 63px 10px 63px;
    /* border: 2px solid green; */

}

#filter {
    border: none;
    font-size: 20px;
    font-weight: bold;
}

#sort {
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

/* When zoom out & in div boxes not getting away from each other */
#main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    margin: auto;
    /* min-height: 100vh; */
}

#parent {
    padding: 10px 0;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    /* grid-template-rows: 200px 200px 200px; */
    gap: 50px 20px;
    margin: 10px;
    place-content: center;
}

.card {
    position: relative;
    max-width: 500px;
    max-height: 250px;
    border-radius: 8px;
    border: 2px solid #E7E7E7;
    /* background: grey; */
    /* margin:10px; */
    /* padding:15px; */
    display: flex;
    flex-direction: row;

}

.name {
    /* padding: 10px 0; */
    font-size: 17px;
    font-weight: bold;
    /* color:blue; */
}

#parent .card .imgBx {
    /* max-width: 150px; */
    /* flex: 0 0 0 150px; */
    width: 60%;
}

.description {
    /* margin: 10px 10px;
    text-align: justify;
    line-height: 28px; */
    text-align: left;
    background-color: #fff;
    color: #000;
    padding: 5px 12px 10px;
    border-radius: 5px;
    line-height: 25px;
    max-width: 96%;
    margin: 0 auto 2%;
    width: 100%;
    border-bottom-right-radius: 5px;
    margin: 0;
    padding: 10px 12px 8px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

img {
    width: 100%;
    height: 100%;
    background-color: rgb(245, 245, 245);
    position: relative;
    display: block;
    overflow: hidden;
    cursor: pointer;
}

.rev {
    font-size: 12px;
}

hr {
    opacity: .4;
}

.reviewBox {
    display: flex;
    margin-bottom: 6px;
}

.reviewBox>i {
    color: green;
    font-size: 10px;
    margin-top: 8px;
    margin-right: 5px;
}

.discount {
    color: rgb(5, 161, 67);
    margin-right: 10px;
    font-size: 15px;
}

.priceparent {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-top: 6px;
}

.price {
    font-weight: 700;
    font-size: 15px;
}

.strprice {
    text-decoration: line-through;
    font-weight: 500;
    color: #616161;
    line-height: 17px;
    margin-left: 10px;

}

.cartbtn {
    display: block;
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    width: 100%;
    font-weight: bold;
    /* margin: 10px 0; */
    font-size: 15px;
    cursor: pointer;
}

.save {
    font-size: 12px;
    margin-bottom: 6px;
}


/*                         Bottom                 */

.bottom {
    height: 280px;
    /* margin: auto; */
    /* width: 95%; */
    display: grid;
    /* margin-top: 20px; */
    gap: 20px;
    /* border:2px solid red; */
    grid-template-columns: repeat(5, 1fr);
    margin: 20px 65px 20px 65px;
}

.mbottom {
    background-color: #e3e3e3;
    /* width: 90%; */
    /* border-radius: 5px; */
    /* margin-top: 20px; */
    /* border: 2px solid rebeccapurple; */
}

.bottom1 {
    /* border: 2px solid rebeccapurple; */
    width: 100%;
    height: 50%;
}

.bottom1>img {
    /* border: 2px solid rebeccapurple; */
    width: 100%;
    height: 100%;
    /* border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
}

.mbottom>button {
    border-radius: 10px;
    text-decoration: underline;
    background-color: #e3e3e3;
    font-style: normal;
    border: 1px solid #000;
    padding: 10px 10px;
    display: inline-block;
    border-radius: 5px;
    font-size: 13px;
    margin: 10px 10px;
    cursor: pointer;
}

.bottom1~p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-decoration: underline;
    color: inherit;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.mbottom>button:hover {
    color: red;
    text-decoration: none;
}

/*                       Explanation                 */

.explanation {
    margin: 20px 150px 20px 150px;

}

.explanation>h1 {
    font-size: 30px;
    font-weight: bold;
    background-color: white;
    text-align: left;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 25px;
    margin-top: 50px;
}

.pp {
    font-size: 12px;
    opacity: .7;
    margin-top: 0;
    margin-bottom: 55px;
}

.pp>p {
    font-size: 12px;
    opacity: .9;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: rgb(var(--text-color));
    /* text-align: justify; */
    margin-bottom: 25px;
}