h1 {
    font-family: Montserrat;
    background-color: grey;
}

img {
    width: 100%;
    background-color: rgb(245, 245, 245);
}

#parent {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    gap: 20px;
    margin: 20px;
    place-content: center;
    font-weight: 600;
}

.card {
    text-align: center;
}

.name {
    padding: 10px 0;
}

.priceparent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price {
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 5x;
    padding: 5px 10px;
}

.strprice {
    text-decoration: line-through;
    padding: 3px 10px;
    border: 2px solid;
    border-radius: 5px;
}

.cartbtn {
    display: block;
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
    padding: 10px 0;
    width: 100%;
    font-weight: bold;
    margin: 10px 0;
    font-size: 15px;
}